<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Details</title>
</head>
<body>

<h1>User details:</h1>
<br>

<form th:action="@{/createUser}" th:object="${user}" th:method="put">

    <input type="hidden" th:field="*{id}">
    First name:
    <input type="text" th:field="*{firstName}"/>
    <br><br>
    Last name:
    <input type="text" th:field="*{lastName}"/>
    <br><br>
    Age:
    <input type="text" th:field="*{age}"/>
    <br><br>
    <button type="submit">OK</button>

</form>


</body>
</html>